################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ERP/FileContentIndex

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
bin/
obj/

# Logs
*.log
